.home {
  width: 1024px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ccc;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

.nav ul li {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
}

.products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(136px, 240px));
  gap: 2rem;
}

.card {
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  position: relative;
}

.delete-checkbox {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
